.skills-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem 0 5rem;
    gap: 20px;
}

.skills-card img {
    width: 150px;
}

.skills-card img:hover {
    transform: translateY(-10px);
    transition: background 0.5s, transform 0.5s;
}

.h1 {
    margin-left: 15rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {

    #skills {
        margin-top: 250px;

    }

    .h1 {
        margin-left: 50px;
        margin-bottom: 30px;
    }


    .skills-card {
        flex-wrap: wrap;
        gap: 10px;
    }

    .skills-card img {
        width: 100px;
        overflow-x: visible !important;

    }
}