#contact {
    display: flex;
}

.left-col {
    width: 40%;
    padding-top: 10px;
    padding-left: 130px;
}

.left-col-icon {
    display: block;
    padding-top: 50px;
}

.left-col-icon2 {
    padding-top: 20px;
}

.left-col-icon a {
    color: #fff;
    padding-left: 20px;
    text-decoration: none;

}

.social-icons {
    padding-top: 30px;
}

.social-icons a {
    color: #fff;
    padding-right: 10px;
    font-size: 20px;

}

.social-icons a:hover {
    color: #ff004f;
}

.left-col button {
    width: 125px;
    height: 35px;
    background-color: #ff004f;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
}

.right-col {
    width: 60%;
    padding-top: 10px;
}

.right-col input {
    background-color: rgba(128, 128, 128, 0.281);
    border: none;
    display: block;
    width: 70%;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.right-col textarea {
    background-color: rgba(128, 128, 128, 0.281);
    border: none;
    display: block;
    width: 70%;
    margin-bottom: 20px;
    border-radius: 3px;
}

.right-col button {
    width: 125px;
    height: 35px;
    background-color: #ff004f;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.right-col textarea::placeholder {
    padding: 10px;
}

.right-col input::placeholder {
    padding: 10px;

}

.right-col input {
    color: white;

}

#message {
    color: white;
    margin-top: 10px;
    display: block;

}

.label-contact {
    color: rgba(128, 128, 128, 0.281);
}

.white {
    color: white;
}

@media only screen and (max-width: 600px) {

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .right-col {
        width: 100vw;
        margin-left: 60px;
        margin-top: 20px;
    }


    #contact {
        display: block;
    }

    .left-col {
        display: block;
        width: 100vw;
        position: relative;
        right: 50px;
        top: -40px;
    }

    .social-icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}