.logo {
    cursor: pointer;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav span {
    color: #ff004f;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.japa {
    display: flex;
    list-style-type: none;

}

.menumie {
    display: none;
    position: absolute;
    margin-left: -30px;

}

.kinsley:hover .menumie {
    display: block;
    border: none;
    width: 100vw;
}

nav a:hover {
    color: white !important;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;

}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text span {
    color: #ff004f;
}

/* about section */

#about {
    /* margin-top: 200px; */
    color: #ababab;
    padding: 80px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}




.about-col-2 {
    flex-basis: 100%;
    font-size: 20px;
    height: 70vh;
}

.about-col-2 h1 {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: white;
}

.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link:hover:after {
    width: 50%;
}

.tab-contents ul li {
    list-style-type: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.res-nav {
    display: none;
}

#header {
    height: 40rem;
    margin-right: 90px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    * {
        overflow-x: hidden;
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    #header {
        background-position: center;
        width: 100vw;

    }

    .sub-title {
        margin-bottom: 20px;
    }

    .about-col-1, .about-col-2 {
        width: 100vw;
    }

    .about-col-1 img {
        display: none;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .res-nav {
        display: block;
        font-size: 25px;
        position: relative;
        right: 80px;
        /* margin-right: 70px; */
    }

    nav ul {
        background-color: inherit;
        position: fixed;
        top: 0;
        right: -200px;
        width: 150px;
        height: 50vh;
        padding-top: 50px;
        z-index: 2;
        border-radius: 20px 0 0 20px;
        transition: right 0.5s;
    }

    .men:hover {
        color: inherit;
        font-size: 35px;
    }

    nav {
        width: 100%;
        position: absolute;
    }

    nav ul li {
        display: block;
        margin: 25px 25px 15px 15px;
    }

    nav ul .res-nav {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .about-col-2 h1 {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 p {
        font-size: 20px;
        text-align: justify;
    }

    .tab-links {
        font-size: 20px;
        margin-right: 40px;
    }

    .menumie {
        font-size: 20px;
    }
}